@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
:root{
 --yellow:#ffc914;
 --grey:#b5c2b7;
 --black:rgb(46, 40, 42);
 --blue:#00a7e1;
 --cream:#eddea4;
 --white:rgb(245, 243, 245);
}

body{
 font-family: 'PT Sans', sans-serif;
 background: var(--white);
 color: var(--black);
}
/* preloader */
.preloader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
/* header */
.header{
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* for the rest of the elements */
    position: relative;
}
@media screen and (max-width:768px){
    .header{
        background: url('../video/Working-it/Snapshots/Working-it.jpg')center/cover fixed no-repeat;
    }
}
/* banner */
.banner{
    margin-left: 2rem;
    border-left: 0.5rem solid var(--yellow);
}
.banner__title{
    font-size: 3rem;
    letter-spacing: 0.25rem;
    margin-left: 1rem;
    text-transform: uppercase;
    color: var(--blue);
}
.banner__title-name{
    color: var(--yellow);
    font-size: 4rem;
    font-style: italic;
    text-decoration: underline;
}
/* video */
.video__container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.video__item{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* video Overlay */
.video__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(245, 243, 245, 0.3);
    z-index: 2;
}
/* nav */
.navBtn{
    position: fixed;
    top: 5%;
    right: 5%;
    font-size: 3rem;
    color: var(--yellow);
    z-index: 3;
    cursor: pointer;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes pulse{
    0%{
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        -o-transform: scale(1.0);
}
    50%{
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
}
    100%{
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        -o-transform: scale(1.0);
}
}
.nav{
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(255, 201, 20, 0.5);
    z-index: 4;
    width: 0;
    overflow: hidden;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}
.nav__links{
    list-style-type: none;
}
.nav__single-link{
    display: block;
    text-decoration: none;
    color: var(--black);
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    text-transform: capitalize;
}
.nav__single-link:hover{
    background: var(--black);
    color: var(--yellow);
    padding-left: 1.5rem;
}
.nav--show{
    width: 10rem;
}
/* social-icons */
.social-icons{
    position: absolute;
    bottom: 4%;
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 3;
    display: flex;
    justify-content: space-around;
}
.social-icon{
    text-decoration: none;
    font-size: 2rem;
    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
}
.social-icon:hover{
    color: var(--yellow);
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}
.social-icon-facebook{
    color: #3b5998;
}
.social-icon-twitter{
    color: #1dcaff;
}
.social-icon-instagram{
    color: #cd486b;
}
